{% extends 'layouts/base.html.twig' %} 
{% block title 'Show Pin' %} 
{% block body %}

<div class="row justify-content-center">

    <div class="col-md-5 mx-3 my-3">
        <div class="card" >
            <img src="{{ (pin.imageName ? vich_uploader_asset(pin) : asset('images/placeholder.jpg')) | imagine_filter('squared_thumbnail-medium') }}" class="card-img-top" alt="{{ pin.title}}" height="100%" />
            <div class="card-body">
                <h2 class="card-title">{{ pin.title }}</h2>
                <p>{{pin.content}}</p>
                <p><small class="text-muted">Submittes <time datetime="{{pin.createdAt|date('Y-m-d H:i:s')}}">{{ pin.createdAt|ago }}</time> by {{ pin.user.fullName }} </small></p>
                <a class="btn btn-info text-light" href="{{ path('app_pins_edit', { id: pin.id }) }}">Edit</a>
                <a class="btn btn-info text-light" id="deletePin" onclick="event.preventDefault(); confirm('are you sure ?') && document.querySelector('#formDelete').submit();" href="">Delete</a>
        </div>  
    </div>
  

  <form id="formDelete" action="{{ path('app_pins_delete', { id: pin.id }) }}" method="post" style="display: none">
    <input name="csrf_token" type="hidden" value="{{ csrf_token('pins_delete'~ pin.id)}}"/>
    <input type="hidden" name="_method" value="DELETE" />
  </form>
</div>
</div>

{% endblock %}
