{% extends 'layouts/base.html.twig' %} 
{% block title 'Show Pin' %} 
{% block body %}
<div class="col-md-6">
  <h2>{{ pin.title }}</h2>
  <h2>{{ pin.content }}</h2>
  <a class="btn btn-info text-light" href="{{ path('app_pins_edit', { id: pin.id }) }}">Edit</a>
  <a
  class="btn btn-info text-light"
    id="deletePin"
    onclick="event.preventDefault(); confirm('are you sure ?') && 
    document.querySelector('#formDelete').submit();"
    href=""
    >Delete</a
  >

  <form
    id="formDelete"
    action="{{ path('app_pins_delete', { id: pin.id }) }}"
    method="post"
    style="display: none"
  >
    <input
      name="csrf_token"
      type="hidden"
      value="{{ csrf_token('pins_delete'~ pin.id)}}"
    />
    <input type="hidden" name="_method" value="DELETE" />
  </form>
</div>
{% endblock %}
