<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        {{ encore_entry_link_tags('app')}}
        {% endblock %}
    </head>
    <body>

        <header>
            {{ include('partials/_navbar.html.twig') }}
        </header>

        <main>
            {{ include('partials/_flash_message.html.twig') }}
    
            <div class="container">
                <div class="row justify-content-md-center">
                    
                        {% block body %}{% endblock %}
                    
                </div>
            </div>
        </main>
        
            {{ include('partials/_footer.html.twig') }}

            {% block javascripts %}
                {{ encore_entry_script_tags('app')}}
            {% endblock %}

    </body>
</html>
 